<h1>Edit Day</h1>

<h3>Journey: <%= @journey.place %></h3>

<h3>Day <%= @day.daynumber %></h3>

<%= form_tag "/days/#{@day.id}", method: :patch do %>

  <%= label_tag :daynumber %>
  <%= text_field_tag :daynumber, @day.daynumber %><br>

  <%= label_tag :location %>
  <%= text_field_tag :location, @day.location %><br>

  <%= label_tag :public %>
  <%= text_field_tag :public, @day.public %><br>

  <%= submit_tag 'Save' %>
 
<% end %>