<h1>Edit Day <%= @day.daynumber %></h1>

<h3>Of</h3>
<h2><%= @journey.place %></h2>

<%= form_tag "/days/#{@day.id}", method: :patch do %>

  <%= label_tag :daynumber, "Day Number" %>:
  <%= text_field_tag :daynumber, @day.daynumber %><br>

  <%= label_tag :location %>:
  <%= text_field_tag :location, @day.location %><br>

  <%= check_box_tag :public, true, @day.public %>
  <%= label_tag :public %><br>

  <%= submit_tag 'Save', class: 'btn' %>
 
<% end %>