<h1>Edit Day <%= @day.daynumber %></h1>

<h3>Of</h3>
<h2><%= @journey.place %></h2>

<%= form_for @day do |f| %>

  <%= f.label :daynumber, "Day Number" %>:
  <%= f.text_field :daynumber, value: @day.daynumber %><br>

  <%= f.label :location %>:
  <%= f.text_field :location, value: @day.location %><br>

  <%= f.check_box :public, {value: @day.public}, "true", "false"  %>
  <%= f.label :public %><br>

  <%= f.submit 'Save', class: 'btn' %>
 
<% end %>