<h1><%= @journey.place %>: Day <%= @day.daynumber %></h1>

<h4>Location: <%= @day.location %></h4>

<%= link_to 'Edit', "/days/#{@day.id}/edit", class: 'btn' %>

<br><br>

<h3>Add Entry</h3>

<%= form_tag '/entries', method: :post do %>

  <%= label_tag :text %>:
  <%= text_area_tag :text %><br>

  <%= hidden_field_tag :public, '' %>
  <%= check_box_tag :public, true %>
  <%= label_tag :public %><br>

  <%= hidden_field_tag :day_id, @day.id %>

  <%= submit_tag 'Submit', class: 'btn' %>

<% end %>

<br>

<% if @entries.length > 0 %>

  <h3>Entries</h3>

  <% @entries.each do |entry| %>
    <p><%= entry.text %> <%= link_to "Edit", "/entries/#{entry.id}/edit" %></p>
  <% end %>

<% end %>