<h3><%= @journey.place %></h3>

<%= @journey.startdate.strftime('%B %e, %Y') %> - <%= @journey.enddate.strftime('%B %e, %Y') %> <br>

<%= link_to 'Edit Journey', "/journeys/#{@journey.id}/edit" %> <br>

<br>

<h4>Days</h4>

<% @days.each do |day| %>
  <p>Day <%= day.daynumber %>: <%= link_to "#{day.location}", "/days/#{day.id}" %></p>
<% end %>

<br>

<h5>Add Day</h5>

<%= form_for :day do |f| %>

  <%= f.label :daynumber, 'Day Number' %>
  <h5><%= @days.count + 1 %></h5>
  <%= f.hidden_field :daynumber, value: @days.count + 1 %>

  <%= f.label :location %>
  <%= f.text_field :location, placeholder: 'Where did you go?' %><br>

  <% if @journey.public %>
    <%= f.label :public %>
    <%= f.check_box :public, true %><br>
  <% end %>

  <input type="checkbox" id="public" name="public" value="true" />
  <label for="public">Public</label>


  <%= f.hidden_field :journey_id, value: @journey.id %>

  <%= f.submit 'Submit', class: 'btn' %>

<% end %>

<br>