<h1><%= @journey.place %></h1>

Date: <%= @journey.startdate %> - <%= @journey.enddate %> <br>

<%= link_to 'Edit Journey', "/journeys/#{@journey.id}/edit" %>

<h2>Days</h2>

<% @days.each do |day| %>
  <p>Day <%= day.daynumber %>: <%= link_to "#{day.location}", "/days/#{day.id}" %></p>
<% end %>

<h2>Add Day</h2>

<%= form_tag '/days', method: :post do %>

  <%= label_tag :daynumber, 'Day Number' %>:
  <%= text_field_tag :daynumber, @days.count + 1 %><br>

  <%= label_tag :location %>:
  <%= text_field_tag :location, 'Where did you go?' %><br>

  <% if @journey.public %>
    <%= label_tag :public %>?
    <%= check_box_tag :public, nil, true %><br>
  <% end %>

  <%= hidden_field_tag :journey_id, @journey.id %>

  <%= submit_tag 'Submit' %>

<% end %>